<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body style="width: 500px;">
    <div>
      <button class="send-msg">
        发送信息
      </button>

      <button class="create-empty-tag">
        开头创建空白标签
      </button>

      <button class="create-empty-tag-last">
        末尾创建空白标签
      </button>

      <button class="create-tag-from-url">
        创建url标签
      </button>

      <button class="create-tag-from-url">
        async await 创建url标签
      </button>
    </div>

    <script src="../lib/jquery.js"></script>
    <script src="../out/MESSAGE.js"></script>
    <script src="../out/pop.js"></script>
  </body>
</html>
